body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  position: relative;
}

.navbar-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px #dadada solid;
}

.navbar-container .show-search-albums-button {
  padding: 5px;
}

.navbar-container .show-search-albums-button:hover {
  color: red;
  cursor: pointer;
  padding: none;
}

.search-albums {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
}

.show-search {
  width: 100%;
  height: 600px;
}

.hide-search {
  width: 100%;
  height: 45px;
}

.search-bar-container {
  width: 50%;
  margin: auto;
}

.hide-search-bar {
  display: none;
}

.user-library-container {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --padding: 10px;
  --padding2: 20px;
}

.search-bar-form input {
  padding-left: var(--padding);
  height: 40px;
  margin: 20px 0;
  width: calc(100% - var(--padding));
  border: 1px solid #dadada;
  border-radius: 5px;
  font-size: 15px;
}

.searched-albums-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 48em) {
  .search-bar-container, .user-library-container {
    width: calc(100% - 2*var(--padding2));
    padding: 0 20px;
  }
}

.searched-album {
  display: grid;
  grid-template-columns: 3fr 12fr 1fr;
  padding: 5px;
}

.library-albums {
  display: grid;
  grid-template-columns: 6fr 11fr;
  padding: 10px;
}

.searched-album-cover img{
  width: 100%;
  min-width: 80px;
}

.searched-album-info {
  margin-left: 10px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.album-info-line {
  font-weight: 600;
  color: #777;
  margin-bottom: 10px;
  display: flex;
}

.album-info {
  font-weight: 200;
  margin-left: 10px;
}

.add-album-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-album-icon button {
  border: none;
  cursor: pointer;
}

.fa-plus-circle {
  font-size: 25px;
}

.red:hover {
  color: #8b251d;
}

.library-title {
  font-size: 20px;
  font-weight: 500;
  color: #777;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px;
  margin: 20px 0 10px 0;
}

.load-more-button, .done-button {
  width: 150px;
  height: 40px;
  font-weight: 700;
  font-size: 18px;
  background-color: black;
  color: white;
  margin: 10px;
}

.load-more-button:hover {
  background-color: #8b251d;
}
